{:simlayers {:period-mode {:key :period}
             :comma-mode {:key :comma}}

 :templates {:launch "osascript -e 'tell application \"%s\" to activate'",
             :displayplacer "displayplacer 'id:44402D57-1A3C-4E17-B021-A62AE68A07A0 res:\"%s\" hz:60 color_depth:8 enabled:true scaling:on origin:(0,0) degree:0'",
             :open "open %s"}

 :main [{:des "period mode"
         :rules [:period-mode
                 [:a [:launch "Calendar"]]
                 [:b [:launch "Google Chrome"]]
                 [:c [:launch "Code"]]
                 [:e [:launch "Code"]]
                 [:f [:launch "Finder"]]
                 [:l [:launch "Mail"]]
                 [:m [:launch "Messages"]]
                 [:n [:launch "Notes"]]
                 [:t [:launch "Terminal"]]
                 [:m [:launch "Messages"]]]}

        {:des "comma mode"
         :rules [:comma-mode
                 [:s [:open "~/sites/chan.dev -a 'Visual Studio Code'"]]
                 [:c [:open "~/.config -a 'Visual Studio Code'"]]
                 [:d [:open "~/.dotfiles -a 'Visual Studio Code'"]]]}

        {:des "locate mode"
         :rules [:locate-mode
                 [:1 [:open "http://localhost:1234"]]
                 [:3 [:open "http://localhost:3000"]]
                 [:4 [:open "http://localhost:4321"]]
                 [:6 [:open "http://localhost:6006"]]
                 [:7 [:open "http://localhost:7890"]]
                 [:8 [:open "http://localhost:8080"]]
                 [:9 [:open "http://localhost:9000"]]]}

        {:des "display mode"
         :rules [:display-mode
                 [:1 [:displayplacer "2560x1440"]]
                 [:2 [:displayplacer "1920x1080"]]]}

        ; fully expanded version
        ;; {:des "period mode"
        ;;  :rules [[:c [:launch "Calendar"] :period-mode]
        ;;          [:b [:launch "Google Chrome"] :period-mode]
        ;;          [:m [:launch "Messages"] :period-mode]]}
        ]}