; links
;; command shorthand: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md#command-a-to-control-1

{:simlayers {:period-mode {:key :period}}

 :templates {:launch "osascript -e 'tell application \"%s\" to activate'" }

 :main [
        {:des "spacebar (held) => ⌥R)" :rules [[:##spacebar :right_option nil {:alone :spacebar}]]}

        {:des "⌘L (tap) => delete" :rules [[:##left_command :left_command nil {:alone :delete_or_backspace}]]}
        {:des "⌘R (tap) => return" :rules [[:##right_command :right_command nil {:alone :return_or_enter}]]}

        {:des "^L (tap) => escape" :rules [[:##left_control :left_control nil {:alone :escape}]]}
        {:des "- (held) ^R" :rules [[:##hyphen :right_control nil {:alone :hyphen}]]}

        ; app launcher/switcher layer
        {:des "period mode"
         :rules [:period-mode
                 ; right-hand characters (mnemonic)
                 [:b [:launch "Arc"]]
                 [:c [:launch "Calendar"]]
                 ; [:d [:launch ""]]
                 [:f [:launch "Finder"]]
                 ; [:g [:launch ""]]
                 ; [:h [:launch ""]]
                 [:l [:launch "Superhuman"]]
                 [:m [:launch "Messages"]]
                 [:n [:launch "Notes"]]
                 [:r [:launch "OBS"]]
                 [:s [:launch "Slack"]]
                 [:t [:launch "Alacritty"]]
                 [:v [:launch "Visual Studio Code"]]
                 [:w [:launch "Warp"]]
                 [:z [:launch "zoom.us"]]
                 [:open_bracket [:!CStab]]
                 [:close_bracket [:!Ctab]]
                 ]}
]}
